
<div class="keep-shopping pv1 mt4 has-text-right">
  <%= link_to 'Keep Shopping', instruments_path, class: 'button is-warning' %>
</div>
<hr />
<section class="section">
  <%= render(@cart.line_items) %>
  <%# @cart.line_items.each do |line_item| %>
    <%#= render partial: "line_items/line_item", object: line_item %>
  <%# end %>
  <div class="columns">
    <div class="column prompt-btn">
      <%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-danger" %>
      <%= link_to 'Proceed To Checkout', new_charge_path(@cart), class: "button is-primary btn-check" %>
    </div>
    <div class="column total has-text-right">
      <h4 class="title is-4">
        <span class="f5 has-text-grey">Total:</span> <%= number_to_currency(@cart.total_price) %>
      </h4>
    </div>
  </div>
</section>
